// common
.common-full {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.common-hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.common-width100 * {
  width: 100% !important;
}
.common-alert-bg {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.common-cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.common-img-bg {
  background-color: #fa1313;
  background-image: url("~assets/images/common_nodata_img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
}
.common-loading {
  animation: rotate360 4s infinite linear;
}
.common-shadow {
  box-shadow: 0px 0px 30px 0px rgba(241, 241, 241, 1);
}
.common-brand {
  width: 233px;
  height: 44px;
  margin-right: 60px;
}
